@import './variables';

.user-info {

    &__avatar {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }

    &__contact {
        display: flex;
        flex-direction: column;
    }

    &__socials {
        display: flex;

        a {
            svg {
            color: $primartColor;
            font-size: 35px;


            }

            &:hover svg {
            color: $primartColor2;

            }
        }
    }
}