
// colors
$primartColor: #3F51B5;
$primartColorLight: #7986CB;
$primartColor2: #009688;
$lightColor: #BDBDBD;
$darkColor: #212121;
$blackColor: #000;
$whiteColor: #fff;
$whiteColor2: #eeeeee;

// box shadow
$boxShadowLight: 3px 3px 27px 15px #ccc;
